.App {
  background-image: url('./bg-hero-desktop.svg');
  background-color: hsl(193, 100%, 96%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.font {
  font-weight: bolder;
}

.w {
  width: 15%;
  height: 40px;
  text-align: center;
  background-color: white;
  font-weight: 600;
  padding: 6px;
}

.m {
  margin-top: 15%;
  margin-bottom: 15%;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.7);
  border-bottom: 50%;
}

.p {
  width: 50%;
  height: 40px;
  text-align: center;
  background-color:  hsl(322, 100%, 66%);
  font-weight: 600;
  padding: 6px;
}

.Footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500%;
  margin-top: 5%;
}

.mg {
  margin-top: 12%;  
}

.mgx {
  margin-top: 70%;  
}

.mt {
  margin-top: 3%;
}

.fs {
  font-size: 15px;
}

.obj {
  object-fit: contain;
  margin-bottom: 7%;
}

.obj-1 {
  object-fit: contain;
  margin-top: 1%;
}

.mr {
  margin-right: 15%;
}

ul {
  list-style: none;
  display: inline-block;
}

li {
  margin-top: 10%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

.px {
  font-size: 10px;
}

.c {
  color: white;
}

.position {
  position: relative;
  top: 120px;
  bottom: 150px;
  left: 30%;
}

.hidden-lg {
  display: none;
}

/* Mobile Phones */

@media(min-width: 300px) and (max-width: 566px ) {
  .body {
    overflow-x: hidden;
  }

  .center {
    text-align: center;
  }

  .App {
    background-image: url('./bg-hero-mobile.svg');
    background-color: hsl(193, 100%, 96%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
  }

  .fs-1 {
    width: 50%;
  }
  
  .font {
    font-size: 1.1rem;
    font-weight: bolder;
    text-align: center;
  }

  .font-2 {
    font-size: 18px;
    text-align: center;
    margin-top: 5%;
  }
  
  .w {
    width: 40%;
    margin-left: 5px;
    height: 40px;
    text-align: center;
    background-color: white;
    font-weight: 600;
    padding: 6px;
  }
  
  .m {
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .p {
    width: 70%;
    height: 40px;
    text-align: center;
    background-color:  hsl(322, 100%, 66%);
    font-weight: 600;
    padding: 6px;
  }
  
  .mg {
    margin-top: 30%;  
  }
  
  .mgx {
    margin-top: 20%;  
  }

  .mgx-1 {
    margin-top: 1%;
    margin: 0 auto;
  }

  .mtx {
    margin-top: 5%;
  }

  .hidden-xs {
    display: none;
  }
  
  .fs {
    font-size: 15px;
  }
  
  .obj {
    object-fit: contain;
    margin-bottom: 7%;
  }
  
  .obj-1 {
    object-fit: contain;
    margin-top: 1%;
  }
  
  .mr {
    margin-right: 15%;
  }

  .ml {
    margin: 1%;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin-top: 5%;
    margin-left: 2%;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
  }
  
  .px {
    font-size: 10px;
  }
  
  .c {
    color: white;
  }
  
  .position {
    position: relative;
    top: 5em;
    left: 0.7%;
    border-radius: 10px;
  }
}